[submodule "submodule/logger"]
	path = submodule/logger
	url = https://github.com/leocity207/logger.git
[submodule "submodule/rapidjson"]
	path = submodule/rapidjson
	url = https://github.com/Tencent/rapidjson.git
