[submodule "src/C++/submodule/logger"]
	path = src/C++/submodule/logger
	url = https://github.com/leocity207/logger.git
[submodule "src/C++/submodule/rapidjson"]
	path = src/C++/submodule/rapidjson
	url = https://github.com/Tencent/rapidjson.git
